# Electron 镜像源（使用淘宝镜像）
electron_mirror=https://npmmirror.com/mirrors/electron/

# npm 镜像源（可选，加速 npm 包下载）
registry=https://registry.npmmirror.com

# pnpm 设置
shamefully-hoist=true

# 允许 electron 运行 postinstall 脚本
enable-pre-post-scripts=true
